<div id="message-<%= message.id %>">
    <div class="style-infos-message">
      <%= message.user.nickname.downcase %>
      <i id="style-date"><%= message.created_at.strftime("%a %b %e at %l:%M %p").downcase %></i>
    </div>
    <div class="style-message">
      <%= message.content %>
      <% if message.photo.attached? %>
      <%= cl_image_tag message.photo.key, height: 150, width: 200, crop: :fill %>
      <% end %>
    </div>
</div>
