<div class="style-search-bar">
  <%= form_with url: rooms_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Recherche"
        %>
        <%= button_tag(type: "submit", class: "btn btn-default") do  %> <i class="fa-solid fa-magnifying-glass"></i> <%end%>
  <% end %>
</div>


<div data-controller="form-option">

  <div class="room-fav">
      <% current_user.rooms_with_messages_in.each do |room| %>
        <%= link_to room_path(room) do %>
          <div id="mes-rooms-name"> <%= room.name %></div>
        <% end %>
      <% end %>
  </div>

  <div class="style-option-bouton">
    <h4 data-action="click->form-option#revealList"> list </h4>
    <h4 data-action="click->form-option#revealMap"> map </h4>
    <h4 data-action="click->form-option#revealNew"> new </h4>
  </div>

  <div data-form-option-target="list" >

    <% @rooms.each do |room|%>
      <%= link_to room_path(room) do %>
        <div class="room-details">
          <div class="index-title"><%= room.name %> -  <%= room.category %></div>

          <em>
            <% if room.end_date %>
              <%= room.end_date.strftime('%d/%m/%Y')%>
            <% end %>
          </em>
        </div>
      <% end %>
    <% end %>
  </div>


  <div class="d-none" data-form-option-target="map">
    <div style="width: 100%; height: 600px;"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>


  <div id="new-style" data-form-option-target="new">
      <label class="switch">
        <input data-action="change->form-option#displayForm" type="checkbox">
        <span></span>
      </label>

      <div data-form-option-target="noend">
        <h2 class="text-white">Créer une room permanente</h2>
          <%= simple_form_for ([@room]) do |f| %>
            <%= f.input :name %>
            <%= f.input :category %>
            <%= f.input :location %>
            <%= f.input :description, as: :text %>
            <%= f.input :start_date %>
            <%= f.submit "Enregistrer"%>
          <% end %>
      </div>

      <div data-form-option-target="end" class="d-none">
        <h2 class="text-white">Créer une room éphémère</h2>
          <%= simple_form_for ([@room]) do |f| %>
            <%= f.input :name %>
            <%= f.input :category %>
            <%= f.input :location %>
            <%= f.input :description, as: :text %>
            <%= f.input :start_date %>
            <%= f.input :end_date %>
            <%= f.submit "Enregistrer"%>
          <% end %>
      </div>


  </div>

</div>
