<div data-controller="user-position">
  <div class="style-search-bar">
    <%= form_with url: rooms_path, method: :get, class: "d-flex" do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Recherche"
          %>
          <%= button_tag(type: "submit", class: "btn btn-default") do  %>
            <i class="fa-solid fa-magnifying-glass"></i>
          <%end%>
    <% end %>
  </div>

  <div class="room-fav">
    <%# Remettre la liste à gauche à chaque changement de page? %>
    <%# data-controller="scroll-horizontal"  %>
    <%# <div data-scroll-horizontal-target="favs" style="max-width: 60vh; overflow: scroll;"> %>
      <% current_user.rooms_with_messages_in.each do |room| %>
        <% if @rooms_around_user.include?(room) %>
          <%= link_to room_path(room) do %>
            <div id="mes-rooms-name"> <%= room.name %></div>
          <% end %>
        <% end %>
      <% end %>
    <%# </div> %>
  </div>

  <div data-controller="form-option" style="margin-top: -8px;">

    <div class="style-option-bouton">
      <h4 data-action="click->form-option#revealList" data-form-option-target="listToggle" class="style-option-bouton-nav"> liste </h4>
      <h4 data-action="click->form-option#revealMap" data-form-option-target="mapToggle" class="style-option-bouton-nav"> carte </h4>
      <h4 data-action="click->form-option#revealNew" data-form-option-target="newToggle" class="style-option-bouton-nav"> nouveau </h4>
    </div>

    <%# Affichage list rooms sans messages du user (par défaut) %>
    <div data-form-option-target="list" >
      <div class="distances">A moins de 1 km</div>
      <% @rooms_around_user.each do |room|%>
        <% unless current_user.rooms_with_messages_in.include?(room) %>
          <%= link_to room_path(room) do %>
            <div class="room-details">
                <div class="index-title"><%= room.name %> - <%= room.category %></div>
                <div><%= room.location %></div>
                <div>
                  <% if room.end_date %>
                    <%= room.end_date.strftime('%d/%m/%Y') %>
                  <% end %>
                </div>
            </div>
          <% end %>
        <% end %>
      <% end %>

      <%# Le reste des rooms (sans celles dans lequelles j'ai un msg, sans celles à moins de 1km) %>
      <div style="padding-bottom: 52px;">
        <div class="distances">A moins de 5 km</div>
        <% @rooms_at_5_km.each do |room| %>
          <% unless @rooms_around_user.include?(room) %>
            <%# && current_user.rooms_with_messages_in.include?(room) %>
            <%# code executed only when condition is not "truthy" %>
            <div class="room-details-inacess index-title"><%= room.name %></div>
          <% end %>
        <% end %>
        <div class="distances">
        Position :
        lat. : <%= current_user.latitude %> /
        long. : <%= current_user.longitude %>
        </div>

      </div>

    </div>

      <%# Affichage map %>
      <div class="d-none" data-form-option-target="map">
        <div style="width: 100%; height: 600px;"
          data-controller="map"
          data-map-markers-value="<%= @markers.to_json %>"
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>

    <%# Affichage create new room %>
    <div class="d-none" id="new-style" data-form-option-target="new">
        <div class="new-toggle-style">
          <label class="switch">
            <input data-action="change->form-option#displayForm" type="checkbox">
            <span></span>
          </label>
        </div>
      <%# New room permanente %>
        <div data-form-option-target="noend">
            <h2 class="text-white">Créer une room permanente</h2>
            <%= simple_form_for ([@room]) do |f| %>
              <%= f.input :name %>
              <%= f.input :category %>
              <%= f.input :location %>
              <div>
                <input class="check-box-nomade" type="checkbox" id="nomade">
                <label for="nomade">Nomade</label>
              </div>
              <%= f.input :description, as: :text %>
              <%= f.input :start_date, as: :string, type: :text,
                  wrapper_html: { class: "mb-4" },
                  label_html: { class: "form-label text-secondary fw-bold" },
                  input_html: { data: { controller: "flatpickr" } } %>
              <%= f.submit "Enregistrer", class: "btn-submit"%>
            <% end %>
        </div>
        <%# New room éphémère %>
        <div data-form-option-target="end" class="d-none">
            <h2 class="text-white">Créer une room éphémère</h2>
            <%= simple_form_for ([@room]) do |f| %>
              <%= f.input :name %>
              <%= f.input :category %>
              <%= f.input :location %>
              <%= f.input :description, as: :text %>
              <%= f.input :start_date, as: :string, type: :text,
                  wrapper_html: { class: "mb-4" },
                  label_html: { class: "form-label text-secondary fw-bold" },
                  input_html: { data: { controller: "flatpickr" } } %>
              <%= f.input :end_date, as: :string, type: :text,
                  wrapper_html: { class: "mb-4" },
                  label_html: { class: "form-label text-secondary fw-bold" },
                  input_html: { data: { controller: "flatpickr" } } %>
              <%= f.submit "Enregistrer", class: "btn-submit" %>
            <% end %>
        </div>
    </div>

  </div>

  <%# TEST comparaison position user - position room %>
    <%# Ma position :
    lat. : <%= current_user.latitude %>
    <%# long. : <%= current_user.longitude %>
    <%# <br> %>
    <%# Autour de moi : %>
    <%# <% @rooms_around_user.each do |room| %>
    <%# <div><%= room.name %>
    <%# // <%= room.location %>
    <%# </div>  %>
    <%# <% end %>
  <%# FIN TEST %>

</div>
