


<div data-controller="form-option">
  <h1>Ajouter une room</h1>

  <label class="switch">
    <input data-action="click->form-option#displayForm" type="checkbox">
    <span></span>
  </label>

  <div data-form-option-target="noend">
    <h2>Créer une room permanente</h2>
      <%= simple_form_for ([@room]) do |f| %>
        <%= f.input :name %>
        <%= f.input :category %>
        <%= f.input :location %>
        <%= f.input :description, as: :text %>
        <%= f.input :start_date %>
        <%= f.submit "Enregistrer"%>
      <% end %>
  </div>

  <div data-form-option-target="end" class="d-none">
    <h2>Créer une room éphémère</h2>
      <%= simple_form_for ([@room]) do |f| %>
        <%= f.input :name %>
        <%= f.input :category %>
        <%= f.input :location %>
        <%= f.input :description, as: :text %>
        <%= f.input :start_date %>
        <%= f.input :end_date %>
        <%= f.submit "Enregistrer"%>
      <% end %>
  </div>

</div>
