<% content_for :meta_title, "#{@room.name} is on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @room.description %>
<%# <% content_for :meta_image, cl_image_path(@room.photo.path) if @room.photo.present? %>

<div class="container" data-controller="room-subscription" data-room-subscription-room-id-value="<%= @room.id %>" data-room-subscription-current-user-id-value="<%= current_user.id %>">
  <div class="main-grid">
    <div>
      <h1 class="h1-show-room"> <%= @room.name %> </h1>
      <div class="distances1" id="adress-in-room"><%= @room.location[0..50] %>...</div>
      <%# <%= @room.latitude <%= @room.longitude %>
    </div>

    <div>
     <div id="trois">
        <% if current_user == @room.user %>
          <%= link_to room_path(@room), data: {turbo_method: :delete, turbo_confirm: 'Are you sure?' } do %>
            <i class="fa-solid fa-trash"></i>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="style-search-bar2">
    <%= form_with url: room_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Chercher dans les messages"
      %>
      <%= button_tag(type: "submit", class: "btn btn-default") do  %> <i class="fa-solid fa-magnifying-glass"></i> <%end%>
    <% end %>
  </div>


  <div data-controller="scroll-custom">
    <div id="messages" data-room-subscription-target="messages" style="max-height: 56vh;
    overflow: scroll;" data-scroll-custom-target="messages">
      <% @messages.each do |message| %>
        <div class="message-row d-flex <%= message.sender?(current_user) ? 'justify-content-end' : 'justify-content-start' %>">
          <div class="<%= message.sender?(current_user) ? 'sender-style d-flex' : 'receiver-style d-flex' %>">
          <% if message.sender?(current_user) %>
            <%= link_to message, data: {turbo_method: :delete, turbo_confirm: 'Are you sure?' } do %>
            <div id="trash-style"><i class="fa-solid fa-trash"></i></div>
          <% end %>
        <% end %>
            <%= render "messages/message", message: message %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div id="end-of-messages">
    <%= simple_form_for [@room, @message],
      html: { data: {action: "turbo:submit-end->room-subscription#resetForm"},
      class: "d-flex customform" } do |f|%>
      <div id="end-of-messages1">
        <%= f.submit "↑", class: "btn btn-primary mb-3"%>
        <%= f.input :content,
                    label: false,
                    placeholder: "Message ##{@room.name}",
                    wrapper_html: {class: "flex-grow-1"}%>
        <div id="style-photo">
        <%= f.input :photo, input_html: { class: 'd-none' }, label_html: { class: 'upload-photo'}, label: '📷' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
